# Files and directories not being tracked

*.pyc
.coverage
venv/
*.swp

# Output from Robot Tests pybot test runner
output.xml
log.html
report.html

# Cover output directory
cover/

# Pylint output
pylint.txt
